body {
    font-family: "Jost", sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #000000;
    color: #fff;
}

@keyframes fadeInScale {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

header {

    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.15) 0%, #000000 100%);
    width: 100%;
    padding: 10px;
    padding-top: 30px;
    color: #ffffff;

    display: flex;
    justify-content: center;

}

header h1 {
    font-size: 80px;
    margin: 10px auto;
    text-align: center;
    flex-grow: 1;
    padding-right: 10;

    animation: fadeInScale 0.75s ease forwards;

}

.logo-container {
    display: flex;
    align-items: center;
    margin: auto 30px;
    position: absolute;
    left: 0;
    animation: fadeInScale 0.75s ease forwards;

}

.logo-container img {
    max-width: 200px;
    height: 120px;
    width: auto;
    transition: transform 0.3s ease;
}

.logo-container img:hover {
    transform: scale(1.1);
}



.intro {
    font-size: 30px;
    margin: 10px auto;
    width: 40%;
    text-align: center;

    animation: fadeInScale 0.75s ease forwards;
}


main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;

    animation: fadeInScale 0.75s ease forwards;

}


.chat-container {
    display: flex;
    width: 60%;
    height: auto;
    margin: 50px auto;
    border: 5px solid #ffffff;
    border-radius: 10px;
}

#sigmyIframe {
    min-width: 400px;
    min-height: 500px;
    width: 100%;
    height: 100%;
    background-color: #000000;
    transition: transform 0.3s ease;

}

#sigmyIframe:hover {
    transform: scale(1.05);
    border: 5px solid #ffffff;
    border-radius: 10px;
}

.footer-container {
    /* display: flex; */
    /* justify-content: center;
    /* align-items: center; */
    padding: 10px;
    width: 100%;
    text-align: center;
    transition: transform 0.3s ease;   

}



.git-icon {
    width: 150px;
    height: auto;
    margin: 0 10px;
    margin-top: 0;
    transition: transform 0.3s ease;
}

.nombres{
    font-size: 15px;
    margin: 10px auto;
    width: 40%;
    text-align: center;
    animation: fadeInScale 0.75s ease forwards;
    text-decoration: none;

}

.nombres:active{
    color: #ffffff;
    text-decoration: none;
}

.nombres a{
    color: #ffffff;
    text-decoration: none;
}

.footer-copy-container {
    text-align: center;
    color: #ffffff50;
}

@media screen and (max-width: 480px) {
    body {
        background: #000;

    }
    
    .chat-container,
    header,
    main,.footer-container, .nombres {
        width: auto;
    }

    header h1 {
        font-size: 30px;
    }

    .intro {
        font-size: 20px;
        width: 80%;
    }

    .logo-container {
        position: relative;
    }

}