body {
    margin: 0;
    padding: 0;
    background-color: black;
    /* Fondo negro */
    color: white;
    /* Texto blanco */
    font-family: 'Jost', sans-serif;
    /* Fuente de Google Fonts */
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.frame {
    width: 90vw;
    height: 90vh;
    border: 5px solid white;
    /* Contorno blanco */
    position: relative;
}

.logo-container {
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    align-items: center;
}

.logo {
    max-width: 300px;
}

.chatbot-name {
    margin-left: 10px;
}

.chatbot-name h2 {
    font-size: 5rem;
    margin: 0;
}

.chatbot-name p {
    font-size: 1rem;
    margin: 0;
}